.vue-file-viewer {
  .banner {
    color: #000;
  }

  .banner div {
    color: #000;
  }

  .banner h1 {
    font-size: 20px;
    text-align: center;
  }

  .file-select {
    padding: 0 20px;
    height: 45px;
  }

  .file-select button {
    background: #fafafa;
  }

  .overlay button {
    background: #12b6ff;
    color: white;
  }

  button {
    outline: none;
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    line-height: 19px;
    padding: 5px 12px;
    cursor: pointer;
  }

  .overlay input[type='text'] {
    line-height: 19px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    border-radius: 6px;
    margin-right: 10px;
  }

  .overlay {
    z-index: 9999;
    opacity: 0.4;
    padding: 10px;
    border-radius: 5px;
    background: white;
    border: 1px solid silver;
    margin-top: 5px;
    position: absolute;
  }

  .overlay:hover {
    opacity: 1;
  }

  .loading {
    text-align: center;
    padding-top: 50px;
  }

  .ctrol_btn {
    width: 60px;
    position: sticky;
    margin-left: auto;
    margin-top: 2.5vh;
    z-index: 999999;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .ctrol_btn > div {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
  }

  .scale_add {
    margin-right: 15px;
  }
}
